* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color: #f5f5f6;
  display: flex;
  min-height: 100vh;
}

.layout_main_container {
  display: flex;
  width: 100%;
}

.ant-layout-sider-trigger {
  position: fixed;
 top: 39px;
left: 0;

  color: #43bccd !important;
  cursor: pointer;
  background-color: #05081d !important;
}
.ant-layout-sider-trigger >img{
  width: 50px;
height: 38px;
}
.ant-menu{
  background-color: #05081d !important;
}
.ant-menu-item {
  margin: 8px 0 !important;
  
}


.ant-menu-item:hover {
  background-color: rgba(67, 188, 205, 0.1) !important;
  color: #43bccd !important;
  border-right: 5px solid #43bccd;
  border-radius: 0;
}

.main-content {
  flex: 1;
  overflow-x: hidden;
}

@media (max-width: 1024px) {
  .ant-layout-sider {
    width: 100px !important; 
  }

  .main-content {
    padding-left: 100px; 
  }
}

@media (max-width: 768px) {
  .ant-layout-sider {
    width: 80px !important;
  }

  .main-content {
    padding-left: 80px; 
  }

  .ant-menu-item > span {
    display: none; 
  }

  .ant-menu-item > img {
    margin: 0 auto; 
  }

  .ant-layout-sider-trigger > img {
    width: 40px; 
    height: 30px;
  }
  .sider_image {
    width: 30px; 
    height: 30px;
  }
}

@media (max-width: 480px) {
  .ant-layout-sider {
    width: 60px !important;
  }

  .main-content {
    padding-left: 60px; 
  }

  .ant-layout-sider-trigger > img {
    width: 30px; 
    height: 20px;
  }


}